
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;600&display=swap');

*{
    font-family: 'Alkatra', cursive;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 100px;
}
#data{
    padding: 8px 20px;
    border-radius: 22px;
    font-size: 20px;
}
#button{
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 18px;
    background-color: burlywood;
}

#button:hover{
    background-color: white;
}

#res{
    color: red;
    padding: 5px 25px;
    border-radius: 20px;
}